<section id="contact">
	<h2>Get In Touch</h2>
	<p>Have questions about my consulting services or online courses? Just want to say "Hi"? Great! Complete the quick form below, and I'll reach out to you as soon as possible. Thanks!</p>
	<div class="row">
		<div class="12u$">
			<form name="Contact Form" netlify-honeypot="surname" action="/thank-you" netlify>
        <!-- Netlify Honeypot Field -->
        <p class='hidden'><label>Don’t fill this out: <input name='surname'></label></p>
				<div class="row uniform 50%">
          <!-- Standard Form Fields -->
					<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" required></div>
					<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" required></div>
					<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4" required></textarea></div>
				</div>
			</form>
			<ul class="actions">
				<li><input type="submit" value="Send Message"></li>
			</ul>
		</div>
		<!-- <div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon fa-home"><span class="label">Address</span></h3>
					Made with &hearts;<br />
					in Baltimore, MD
				</li>
				<li>
					<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
					000-000-0000
				</li>
				<li>
					<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
					<a href="mailto:zheisey@gmail.com">zheisey@gmail.com</a>
				</li>
			</ul>
		</div> -->
	</div>
</section>
