<!-- Footer -->
<footer class="site-footer">
	<a href="https://business.facebook.com/zhconsulting"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
	<a href="https://twitter.com/zac_heisey"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/zacheisey/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
	<a href="https://www.houzz.com/pro/zheisey/zh-consulting"><i class="fa fa-houzz fa-lg" aria-hidden="true"></i></a>
	<a href="https://medium.com/@zac_heisey/"><i class="fa fa-medium fa-lg" aria-hidden="true"></i></a>
	<p>© Zac Heisey 2018 | <a href="/sitemap">Sitemap</a></p>

	<!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ "/assets/main.js" | relative.url }}"></script>

</footer>
