<footer class="site-footer">

  <!-- Footer Section -->
	<div class="footer-section">
		<div class="container">
			<p>© Zac Heisey 2016 | <a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></p>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ "/assets/main.js" | relative.url }}"></script>

</footer>
