<section id="intro">
	<header class="major">
		<h1>Faster, Better Websites. <span class="rock-salt">Built Right Here.</span></h1>
	</header>
	<p>ZH Consulting is a web design agency specializing in clean, simple websites for startups, small businesses, and nonprofit organizations.</p>
	<p> No frills. No fluff. No unnecessary features or bloat. Just fast, secure, beautiful websites that work. Ready to start yours?</p>
	<ul class="actions">
		<li><a href="/about/" class="button">Learn More</a></li>
	</ul>
</section>
