<section id="intro">
	<header class="major">
		<h1>A/E/C Web Design & Digital Marketing Services</h1>
	</header>
	<p>ZH Consulting provides web design and digital marketing consulting, training, courses, and resources to home improvement and AEC industry professionals. I help both national and local contractors develop effective digital strategies to build their brand and earn more business online.</p>
	<ul class="actions">
		<li><a href="/about/" class="button">Learn More</a></li>
	</ul>
</section>
