<section id="work">
	<div class="row">
		<article class="6u 12u$(xsmall) work-item">
			<h3>My Work</h3>
			<a href="/work/" class="image fit thumb"><img src="/images/thumbs/work.jpg" alt="" /></a>
			<p>Custom website design & development projects.</p>
		</article>
		<article class="6u 12u$(xsmall) work-item">
			<h3>My Blog</h3>
			<a href="/blog/" class="image fit thumb"><img src="/images/thumbs/blog.jpg" alt="" /></a>
			<p>Thoughts on web design, digital consulting, and more.</p>
		</article>
	</div>
</section>
