<section id="work">
	<h2>Let's Get to Work!</h2>
	<div class="row">
		<article class="6u 12u$(xsmall) work-item">
			<a href="/blog/" class="image fit thumb"><img src="/images/thumbs/blog.jpg" alt="" /></a>
			<h3>AEC Marketing Blog</h3>
			<p>Check out my blog for marketing news, trends, and tips for AEC companies.</p>
		</article>
		<article class="6u$ 12u$(xsmall) work-item">
			<a href="#" class="image fit thumb"><img src="/images/thumbs/education.jpg" alt="" /></a>
			<h3>Online Education & Training (COMING SOON)</h3>
			<p>Courses, downloads, and other exclusive resources to help take your marketing strategy to the next level.</p>
		</article>
		<article class="6u 12u$(xsmall) work-item">
			<a href="/services/" class="image fit thumb"><img src="/images/thumbs/consulting.jpg" alt="" /></a>
			<h3>Digital Consulting Services</h3>
			<p>Need hands-on web design or digital marketing help? From planning & execution to on-site training, I've got you covered.</p>
		</article>
		<article class="6u$ 12u$(xsmall) work-item">
			<a href="#" class="image fit thumb"><img src="/images/thumbs/resources.jpg" alt="" /></a>
			<h3>Free AEC Marketing Resources (COMING SOON)</h3>
			<p>Sign up for our newsletter, listen to past podcast episodes, and access free tools and digital downloads.</p>
		</article>
	</div>
</section>
