// Base Styles

/* ========== Global Resets ========== */

*, *:before, *:after {
  box-sizing: border-box;
} /* universal box sizing > includes padding and border, but NOT margin, in total box size */

html, body, div,
ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
} /* removes margin & padding from all browsers */

ol, ul {
  list-style: none;
} /* removes bullets & numbers from all lists */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
} /* removes underline from all link states */

/* Base Background Style */

body:before { // BG image styles copied from Carrd.co site
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transform: scale(1);
  background-image: linear-gradient(to top, rgba(255,255,255,0.29), rgba(255,255,255,0.29)), url('/assets/images/bg.jpg');
  background-position: 0% 0%, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll;
}

/* Base Font Styles */

h1, h2 {
  font-family: $heading-font-family;
  color: $white-color;
  margin-top: 10px;
  text-shadow: 2px 2px $gray-color;
}

body, h3 {
  font-family: $body-font-family;
}

/* Base Button Styles */

.buttons {
  margin-top: 100px;
  float: right;
}

.btn-default {
  border-radius: 0;
  border: 2px solid $main-color;
  background-color: rgba(255, 255, 255, 0.7);
  color: $main-color;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    margin-left: 80%;
  }

}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  border: 2px solid $main-color;
  background-color: $white-color;
  color: $main-color;
}

.btn {
  /* text-shadow: 1px 1px $gray-color; */

  @include breakpoint(large) {
    font-size: 24px;
  }

}

/* Base Wrapper Styles (default.html layout) */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
}
