// Base Styles

/* Global Resets */

*, *:before, *:after {
  box-sizing: border-box;
} /* universal box sizing > includes padding and border, but NOT margin, in total box size */

html, body, div,
ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
} /* removes margin & padding from all browsers */

ol, ul {
  list-style: none;
} /* removes bullets & numbers from all lists */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
} /* removes underline from all link states */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Base Background Styles */

body:before { // BG image styles copied from Carrd.co site
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  transform: scale(1);
  background-image: radial-gradient(circle, #6DBDB6, rgba(255,255,255,0.15)), url('/assets/images/bg-2.jpg');
  background-position: 0% 0%, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll;
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.5s; /* Firefox < 16 */
      -ms-animation: fadein 2.5s; /* Internet Explorer */
       -o-animation: fadein 2.5s; /* Opera < 12.1 */
          animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Base Font Styles */

h1 {
  font-size: 2rem;
}

h1, h2 {
  font-family: $heading-font-family;
  color: $white-color;
  margin-top: 10px;
  text-shadow: 2px 2px $gray-color;
}

body, h3, p, a {
  font-family: $body-font-family;
  color: $white-color;
}

/* Base Button Styles */

button {
  color: $white-color;
  font-family: $heading-font-family;
  text-transform: uppercase;
  background-color: $main-color;
  border: 2px solid $white-color;
  min-width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;

  &:hover {
    color: $main-color;
    background-color: $white-color;
    border: 2px solid $main-color;
  }

}

/* Base Content Container Styles (default.html layout) */

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;

  a {
    color: $white-color;
    text-decoration: underline;
  }

}
