// Footer Styles

/* Main Footer Section */

.footer-section {
  position: fixed;
  bottom: 0;
  left: 0;
	height: auto;
  width: 100%;
	// background: linear-gradient(103deg, $main-color 0%, rgba(109,189,182,0.651) 100%);

  p {
    color: $white-color;
  	margin: 10px;
    text-align: right;
  }

  a:hover {
    color: $grey-color;
    text-decoration: none;
  }

}
