// Footer Styles

.site-footer {
	height: auto;
  width: 100%;

  p {
    color: $white-color;
    margin: 10px;
    text-align: right;
  }

  a:hover {
    color: $main-color;
    text-decoration: none;
  }

}
