// Footer Styles

/* Main Footer Section */

.footer-section {
  position: fixed;
  bottom: 0;
  left: 0;
	height: auto;
  width: 100%;
	z-index: 10;

  p {
    color: $white-color;
    margin: 10px;
    text-align: right;
  }

  a:hover {
    color: $gray-color;
    text-decoration: none;
  }

}
