// Form Styles

form {
  text-align: center;
}

/* Input Field Styles */

input, textarea, select {
  color: $gray-color;
  font-family: $body-font-family;
  min-width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
}

textarea {
  min-height: 7rem;
}

@include breakpoint(small) {
  // Resize contact button on larger screens
  #contact-btn {
    min-width: 40%;
  }
}

/* Honeypot Field for Netlify */

p.hidden {
  display: none;
}
