// Form Styles

form {
  text-align: center;
}

/* Input Field Styles */

input, textarea, select, button {
  color: $gray-color;
  font-family: $body-font-family;
  min-width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;

  @include breakpoint(small) {
    max-width: 70%;
  }

}

textarea {
  min-height: 7rem;
}

/* Honeypot Field for Netlify */

p.hidden {
  display: none;
}
