// Header Styles

.site-header {
  position: relative;
  top: 0;
	height: auto;
  width: 100%;
	z-index: 10;
}

/* Nav Styles */

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0 4rem;
  max-width: 100%;

  img {
    width: 50%;
    min-width: 50px;

    @include breakpoint(small) {
      width: 100%;
    }

  }

  a.nav-item {
    color: $white-color;
    margin: 4rem 1rem;

    &:hover {
      color: $main-color;
      text-decoration: none;
    }

  }

}
