// Homepage Styles

.home-content-section {
  position: relative;
  padding: 1rem 4rem;
  max-width: 100%;
  width: 40rem;

  @include breakpoint(small) {
    margin-top: -10%; // May need to adjust or remove this spacing
  }

  p {
    color: $white-color;
    text-align: left;
  }

}
