// Page Styles

.page-content-section {
  position: relative;
  padding: 1rem;
  max-width: 100%;
  width: 40rem;

  h1 {
    text-align: center;
  }

  p {
    text-align: left;
  }

  img {

    &#headshot {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      max-width: 100%;
    }

  }

}

/* Services Page Styles */

#digital-services {
  display: flex;
  flex-direction: column;
  text-align: center;

  .digital-services-col {
    width: 100%;

    .fa {
      color: $gray-color;
      height: 35px;
      width: 45px;
      margin: 1rem 0;
    }

    p {
      text-align: center;
    }

  }

}

@include breakpoint(small) {

  #digital-services {
    flex-direction: row;

    .digital-services-col {
      width: 45%;
    }

  }

}
