// Page Styles

.page-content-section {
  position: relative;
  padding: 1rem;
  max-width: 100%;
  width: 40rem;

  h1 {
    text-align: center;
  }

  p {
    text-align: left;
  }

}

/* Project Page Styles */

.project {
  text-align: center;

  h3 {
    color: $gray-color;
  }

  p, a {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

}
