// Page Styles

.page-content-section {
  position: relative;
  padding: 1rem;
  max-width: 100%;
  width: 40rem;

  h1 {
    text-align: center;
  }

  p {
    text-align: left;
  }

  img {

    &#headshot {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      max-width: 100%;
    }

  }

}
