// Project Styles

/* Project Page Styles */

.project {
  text-align: center;
  margin: 2rem 0;
  border-bottom: 1px solid rgba(95,95,95,0.6);
  padding-bottom: 1rem;

  img {
    max-width: 100%;
    margin-top: 1rem;

    &:hover {
      opacity: 0.5;
    }

  }

  h3 {
    color: $gray-color;
  }

  p {
    text-align: center;

    &#services-list {
      font-size: 12px;
    }

  }

  a {
    text-align: center;

    &:hover {
      color: $main-color;
    }

  }

}

/* Individual Client Project Styles */

#client-project {
  padding: 1rem;
  max-width: 100%;
  width: 40rem;

  img {
    max-width: 100%;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: left;
  }

}
