/* ===== Global Resets ===== */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Removes margin & padding from all browsers */
html, body, div,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Removes underline from all link states */
a:visited,{
  text-decoration: none;
}

/* ===== Custom Styles ===== */

/* Homepage */

body {
	font-family: monospace;
	color: #282C34;
	width: 60%;
	margin: 5% auto;
}

header {
	text-align: center;
}

h1 {
	font-size: 2.25rem;
}

p, a, ul, ol {
	font-size: 1.15rem;
}

a {
	text-decoration: underline #C578DD;
}

a:hover {
	color: #C578DD;
}

img {
	height: auto;
	border-radius: 50%;
	width: 30%;
	min-width: 250px;
}
