/* Syntax Highlighting Import */
@import 'syntax-highlighting';

/* ===== Global Resets ===== */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Removes margin & padding from all browsers */
html, body, div,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Removes underline from all link states */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* ===== Custom Styles ===== */

body {
	font-family: monospace;
	color: #282C34;
	width: 60%;
	margin: 0 auto;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-top: 3rem;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.65rem;
}

p, a, ul, ol {
	font-size: 1.15rem;
}

a {
	color: #6DBDB6;

  &:hover {
    color: #282C34;
    border-bottom: 3px solid #6DBDB6;
    padding-bottom: 1px;
    transition: 0.2s ease;
  }

}

img {
  width: 100%;
}

#hero-img {
	height: auto;
	border-radius: 50%;
	width: 30%;
	min-width: 250px;
  margin-bottom: 2rem;
}

footer {
  margin: 1rem 0;
}

#copyright a {
  font-size: 1em;
}

#footer-logo {
  max-width: 30px;
  display: block;
  margin-bottom: 10px;
}

/* ===== Media Queries ===== */

@media only screen and (max-width: 400px) {

  body {
    width: 85%;
  }

  h1 {
  	font-size: 2.1rem;
  }

  h2 {
  	font-size: 1.5rem;
  }

  p, a, ul, ol {
  	font-size: 1rem;
  }

}
