<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <!-- Head Include -->
  {% include head.html %}

  <body>

    <div class="lock">

      <section>

        <!-- Header Include -->
        {% include header.html %}

        <main>

          <!-- Page Content -->
          {{ content }}

        </main>

      </section>

      <!-- Footer Include -->
      {% include footer.html %}

    </div>

    <!-- Netlify CMS Snippet -->
    <script>

      if (window.netlifyIdentity) {

        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });

      }

    </script>

  </body>

</html>
